.credential-form {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
    top: 30px;
}

.credential-form input {
    border: 1px solid #fff;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    background: #212121;
    color: #fff;
    outline: none !important;
}

.credential-form button {
    border-radius: 5px;
    border: 1px solid #fff;
    background: #212121;
    color: #fff;
    width: 100px;
    cursor: pointer;
    transition: 0.3s;
}

.credential-form button:hover {
    background: #2196F3;
}

@media (max-width: 740px) {
    .credential-form {
        flex-direction: column;
        gap: 15px;
    }
    .credential-form button {
        width: 100%;
        height: 50px;
    }
}